@import url("reset.css");

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

.header {
  font-size: 36px;
  color: #620a80;
  box-shadow: 0 4px 10px rgba(106, 14, 120, 0.609);
  text-align: center;
  padding: 30px 0;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.footer {
  font-size: 36px;
  color: #620a80;
  box-shadow: 0 -4px 10px rgba(106, 14, 120, 0.609);
  text-align: center;
  padding: 30px 0;
}

.container {
  width: 100%;
}


/*Блок відгуки*/

.reviews {
  background-color: #412672;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  gap: 31px;
  padding: 60px 263px;
}

.reviews__header {
  max-width: 100%;
  flex-shrink: 0;
  margin-left: 86px;
}

.title {
  color: #fff;
  font-size: 38px;
  font-weight: 400;
}

.title__part {
  display: block;
}

.title__part--light {
  font-weight: 400;
}

.title__part--bold {
  font-weight: 700;
}

.cards {

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 387px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 476px;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #FFBE48;
}

.card > *{
  margin-bottom: 16px;
  
}

.card img {
  width: 347px;
  height: 266px;
}

.card__label {
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  display: inline;
  transition: color 0.3s ease;
  line-height: normal;
  width: auto;
  max-width: max-content;
}

.card__label:hover {
  color: #412672;
}

.card__text {
  flex-grow: 1;
}

.link {
  color: #FE3F3F;
  display: inline;
  padding: 0;
  margin: 0;
  line-height: normal;
  width: auto;
  max-width: max-content;
}

.link:hover {
  color: #eb0f0f;
  text-decoration: underline;
}


/*Інформаційним промо-блоком*/


.hero-promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 153px;
  margin-bottom: 137px;
  padding-left: 264px;
  padding-right: 92px;
  gap: 90px; 
}

.hero-promo__content {
  max-width: 600px;
}

.hero-promo__image img {
  max-width: 100%;
  height: 521px;
  display: block;
}


.hero-promo__header {
  font-size: 34px;
  max-width: 100%;
  flex-shrink: 0;
  color: #412672;
  margin-bottom: 20px;
}

.hero-promo__title--light {
  font-weight: 400;
}

.hero-promo__title--bold{
  font-weight: 700;
}

.hero-promo__text {
  font-size: 22px;
  font-weight: 400;
  color: #412672;
  margin-bottom: 20px;
}

.hero-promo__list {
  display: inline-flex;
  flex-direction: column;
  gap: 15px; 
}

.hero-promo__list li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #4F4F4F;
}

.hero-promo__list li::before {
  content: "";
  align-self: flex-start;
  background: url("../img/check.svg") 0 0 / 100% no-repeat;
  width: 29px;
  height: 29px;
  flex-shrink: 0;
}


/*Блок переваги*/