@import url("reset.css");
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carme:wght@400&display=swap');

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1350px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
	padding: 25px 0px;
	font-size: 20px;
	letter-spacing: 3px;
	text-transform: uppercase;
	background-color: #0e4629;
	color: #92f67c;
	text-align: center;
}

@media (max-width: 991.98px) {
	.header {
		padding: 15px 0px;
	}
}

@media (max-width: 767.98px) {
	.header {
		padding: 15px 0px;
		font-size: 16px;
	}
}

.footer {
	padding: 25px 0px;
	font-size: 20px;
	letter-spacing: 3px;
	text-transform: uppercase;
	background-color: #0e4629;
	color: #92f67c;
	text-align: center;
}

@media (max-width: 991.98px) {
	.footer {
		padding: 20px 0px;
	}
}

@media (max-width: 767.98px) {
	.footer {
		padding: 15px 0px;
		font-size: 16px;
	}
}


/* Flower Collection */

.flower {
	padding: 30px 0px;
	background-color: #F8F3EC;
}

.flower .flower__container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

.flower__body {
	display: grid;
	grid-template-columns: 400px 370px 370px;
	gap: 30px;
	padding-bottom: 10px;
}


.flower__title {
	color: #000;
	font-family: "KoPub Batang", serif;
	font-size: 60px;
	font-weight: 300;
	grid-column: 2 / span 2;
	grid-row: 1 /span 2;
	align-content: center;
}

.flower__card {
	display: flex;
	flex-direction: column;
	gap: 14px;
	overflow: hidden;
}

.flower__card:hover {
  border: 1px solid #DBCCBA; 
  box-shadow: 0px 0px 12px rgba(139, 69, 19, 0.2);
}

.flower__card:nth-child(1) {
	grid-row: span 3;
}

.flower__card:nth-child(3) {
	grid-row: span 2;
}

.flower__card:nth-child(4) {
	grid-row: span 2;
}

.flower__card:nth-child(3n+5) {
	grid-row: span 2;
}

.flower__card:nth-child(3n+6) {
	grid-row: span 2;
}

.flower__card:nth-child(3n+7) {
	grid-row: span 2;
}



.flower__image {
	aspect-ratio: 370 / 378;
	flex-grow: 1;
}


.flower__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s;
	will-change: transform;
}

.flower__card:hover .flower__image img {
	transform: scale(1.05);
}

.flower__info-card {
	display: flex;
	justify-content: space-between;
	gap: 14px;
}

.flower__name-card {
	color: #2C2C2C;
	font-family: "KoPub Batang", serif;
	font-size: 20px;
	font-weight: 400;
	transition: transform 0.3s;
	will-change: transform;
}

@media(any-hover:hover) {
	.flower__name-card:hover {
		transition: transform 0.3s;
    color: #8B4513;
	}

	.flower__card:hover .flower__image img {
		transform: scale(1.05) translateY(-7px);
	}
}

.flower__action-card {
	display: flex;
	gap: 20px;
	padding-right: 6px;
}

.flower__like {
	width: 23px;
	height: 23px;
	transition: transform 0.3s;
	will-change: ransform;
}

.flower__cart {
	width: 23px;
	height: 23px;
	transition: transform 0.3s;
	will-change: transform;
}

@media(any-hover:hover) {

	.flower__like:hover,
	.flower__cart:hover {
		transform: scale(1.1);
	}
}

/* фільтр зміни кольору іконок */
.flower__action-card a:hover img {
  filter: brightness(0) saturate(100%) invert(25%) sepia(74%) saturate(397%) hue-rotate(356deg) brightness(93%) contrast(91%);
}


.flower__price {
	color: #4E4E4E;
	font-family: "Carme", sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.flower__link-more {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 184px;
	height: 41px;
	background-color: #DBCCBA;
	color: #2C2C2C;
	font-family: "KoPub Batang", serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.37;
	outline: 1px solid #DBCCBA;
	outline-offset: 10px;
	transition: outline-color 0.3s;
	position: relative;
	top: -200px;
	border: none;
	cursor: pointer;
}

@media (max-width: 1250px) {
	.flower__link-more {
		display: block;
		margin: 20px auto 0 auto;
		position: static;
		width: auto;
		padding: 10px 30px;
	}
}


.flower__link-more::after {
	content: "";
	display: inline-block; 
	margin-left: 10px;    
	background: url("../img/icons/arrow_small.svg") no-repeat center;
	width: 23px;
	height: 14px;
	transition: transform 0.3s;
}

.flower__link-more:hover {
	outline-color: #8B4513;
}

@media(any-hover:hover) {
	.flower__link-more:hover::after {
		transform: translateX(10px);
	}
}

@media (max-width: 1250px) {
	.flower__body {
		grid-template-columns: repeat(auto-fill, minmax(min(370px, 100%), 1fr));
		gap: 20px;
	}

	.flower__title {
		font-size: 60px;
		padding: 15px;
		grid-row-start: 1;
		grid-column: 1 / span 3;
		align-content: center;
	}

	.flower__link-more {
		gap: 10px;
		outline-offset: 10px;
		top: 10px;
		width: 30%;
	}

}

@media (max-width: 1250px) {
  .flower__card:nth-child(1),
  .flower__card:nth-child(3),
  .flower__card:nth-child(4),
  .flower__card:nth-child(3n+5),
  .flower__card:nth-child(3n+6),
  .flower__card:nth-child(3n+7) {
    grid-row: auto;
  }
}

@media (max-width: 1181px) {
	.flower__title {
		font-size: 45px;
		grid-row-start: 1;
		grid-column: 1 / span 2;
	}

	.flower__link-more {
		width: 40%;
	}
}

@media (max-width: 790px) {
	.flower__title {
		font-size: 40px;
		grid-row-start: 1;
		grid-column: 1;
	}

	.flower__link-more {
		width: 50%;
	}
}

@media (max-width: 767.98px) {
	.flower__title {
		font-size: 30px;
		grid-row-start: 1;
		grid-column: 1;
	}

	.flower__link-more {
		width: 70%;
	}
}


/*Section Ecobazar Products*/

.ecobazar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: #4d4d4d;
  font-size: 14px;
  line-height: 1.5;
}

.ecobazar__products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  align-items: stretch;
}

.ecobazar__product {
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  min-height: 339px;
  transition: all 0.3s ease;
}

.ecobazar__title-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin-bottom: 36px;
}
.ecobazar__label {
  color: #00b207;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}
.ecobazar__title {
  color: #1a1a1a;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
}
.ecobazar__featured {
  display: grid;
  gap: 24px;
}

.ad {
  position: relative;
  background-color: #ccf17b14;
}
.ad__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.ad__proposal {
  position: relative;
  padding: 24px 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  z-index: 2;
}
.ad__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.ad__name {
  color: #1a1a1a;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.36px;
  text-transform: uppercase;
}
.ad__price {
  color: #00b207;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}
.white-button {
  min-width: 162px;
  display: flex;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 43px;
  background-color: #fff;
  color: #00b207;
  font-weight: 600;
  line-height: 1.2;
  transition: box-shadow 0.3s ease;
}
.white-button::after {
  content: "";
  width: 15px;
  height: 12px;
  background: url(../img/icons/arrow.svg) 0 0 / cover no-repeat;
}
.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 339px;
  border: 1px solid #e6e6e6;
  transition: all 0.3s ease;
}
.product__img-link {
  position: relative;
  aspect-ratio: 1;
}
.product__img-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.product__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
.product__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 12px 16px 16px;
}
.product__info {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.product__title {
  transition: color 0.3s ease;
}
.product__price {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
}
.product__rating {
  font-size: 0;
}
.product__rating img {
  width: 12px;
  height: 12px;
}
.btn-cart {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}
.btn-cart::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../img/icons/bag.svg);
  transition: filter 0.3s ease;
}
.product__action-block {
  position: absolute;
  top: 15px;
  right: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
.btn-heart,
.btn-eye {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.btn-heart::after,
.btn-eye::after {
  content: "";
  width: 20px;
  height: 20px;
  transition: filter 0.3s ease;
}
.btn-heart::after {
  background: url(../img/icons/heart.svg);
}
.btn-eye::after {
  background: url(../img/icons/eye.svg);
}
.ecobazar__proposals {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(312px, 100%), 1fr));
  gap: 24px;
}
.category {
  display: grid;
  gap: 16px;
}
.category__title {
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 500;
}
.category__items {
  display: grid;
  gap: 16px;
}
.sale-item {
  display: grid;
  grid-template-columns: 112px 1fr;
  border: 1px solid #e6e6e6;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
.sale-item__img-link {
  position: relative;
  padding: 5px;
  aspect-ratio: 1;
  overflow: hidden;
}
.sale-item__img-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.sale-item__image {
  aspect-ratio: 1;
  object-fit: cover;
}
.sale-item__content {
  position: relative;
  padding: 25px 12px;
}
.sale-item__price {
  display: flex;
  gap: 2px;
}
.sale-item__total {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 500;
}
.sale-item__full-price {
  color: #999;
  font-size: 16px;
  text-decoration: line-through;
}
.sale-item__rating {
  font-size: 0;
}
.sale-item__rating img {
  width: 16px;
  height: 16px;
}
.sale-item__activity {
  position: absolute;
  height: 57%;
  left: 12px;
  bottom: 0;
  display: flex;
  gap: 12px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
.sale-item__activity .btn-cart {
  background-color: #00b207;
}
.sale-item__activity .btn-cart::after {
  filter: invert(1) brightness(2);
}
.ecobazar__promo-card .ad__price {
  color: #1a1a1a;
  font-weight: 400;
}
@media (any-hover: hover), (pointer: fine) {
  .white-button:hover {
    border-color: #2c742f;
    color: #2c742f;
  }

  .white-button:hover::after {
    transform: translateX(5px);
  }

  .ad:hover .white-button {
    border: 1px solid #00b207;
  }

  .product:hover,
  .sale-item:hover {
    border-color: #2c742f;
    box-shadow: 0px 0px 12px 0px #20b52652;
  }

  .product__img-link:hover::after,
  .sale-item__img-link:hover:after {
    opacity: 1;
  }

  .product:hover .product__title,
  .sale-item:hover .sale-item__title {
    color: #2c742f;
  }

  .product:hover .product__title:hover,
  .sale-item:hover .sale-item__title:hover {
    color: #00b207;
  }

  .product:hover .btn-cart {
    background-color: #00b207;
  }

  .product:hover .btn-cart::after {
    filter: invert(1) brightness(2);
  }

  .product:hover .btn-cart:hover,
  .sale-item__activity:hover .btn-cart:hover {
    background-color: #2C742F;
  }

  .sale-item:hover .sale-item__activity,
  .product:hover .product__action-block {
    opacity: 1;
    visibility: visible;
  }

  .product:hover .btn-heart:hover,
  .product:hover .btn-eye:hover,
  .sale-item__activity:hover .btn-heart:hover,
  .sale-item__activity:hover .btn-eye:hover {
    border-color: #00b207;
    background-color: #00b207;
  }

  .product:hover .btn-heart:hover::after,
  .product:hover .btn-eye:hover::after,
  .sale-item__activity:hover .btn-heart:hover::after,
  .sale-item__activity:hover .btn-eye:hover::after {
    filter: invert(1) brightness(2);
  }
}

@media (any-hover: none), (pointer: coarse) {
  .product__cart-btn {
    background-color: #00b207;
  }

  .product__action-block,
  .sale-item__activity {
    opacity: 1;
    visibility: visible;
  }

  .sale-item__activity {
    top: -2px;
    right: 10px;
    flex-direction: column;
    gap: 2px;
    align-items: end;
    background-color: transparent;
    scale: 0.9;
  }

  @media (max-width: 450px) {
    .sale-item__activity {
      right: 0px;
    }
  }
}

/* --- Основна адаптивність для карток та банера --- */

@media (max-width: 1200px) {
  .ecobazar__products {
    grid-template-columns: repeat(3, 1fr);
  }

  .ecobazar__products .ad {
    grid-column: 1 / -1;
  }
}

@media (max-width: 991.98px) {
  .ecobazar__products {
    grid-template-columns: repeat(2, minmax(248px, 1fr));
  }

  .ecobazar__products .ad {
    grid-column: 1 / -1;
  }
}

@media (max-width: 768px) {
  .ecobazar__products {
    grid-template-columns: 1fr;
  }

  .ecobazar__products .ad {
    grid-column: 1 / -1;
  }
}

@media (max-width: 1350px) {
  .ecobazar__proposals {
    gap: 15px;
  }
}

@media (max-width: 1323px) {
  .ecobazar__proposals {
    grid-template-columns: repeat(3, 1fr);
  }

  .ecobazar__proposals .ad {
    grid-column: span 3;
    margin: 0 -15px;
  }
}

@media (max-width: 991.98px) {
  .ecobazar__proposals {
    grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
  }

  .ecobazar__proposals .ad {
    grid-column: span 1;
    margin: 0;
  }
}

@media (max-width: 813.98px) {
  .ecobazar__title-block {
    margin-bottom: 25px;
  }

  .ecobazar__products .ad {
    grid-column: 1 / -1;
    margin: 0 -15px;
  }
}

@media (max-width: 668.98px) {
  .ecobazar__proposals .ad {
    margin: 0 -15px;
  }
}

@media (max-width: 545px) {
  .ecobazar__products .ad {
    grid-column: 1 / -1;
  }
}
