@import url("reset.css");

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

.header {
  font-size: 36px;
  color: #d6efa8;
  text-align: left;
  padding: 50px;
  margin-bottom: 40px;
  background-image: url("../img/breadcrumbs.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.footer {
  font-size: 36px;
  color: #d6efa8;
  text-align: right;
  padding: 50px;
  background-image: url("../img/bannar.avif");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

[class*="__container"] {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 60px;
}


/*Featured Products*/

.heading__header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 32px;
}

.header-block__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #00B207;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 0.3s ease;
}

.header-block__link:hover {
  color: #2C742F;
}

.header-block__icon {
  width: 15px;
  height: 12px;
  transition: transform 0.3s ease; 
}

.header-block__link:hover .header-block__icon {
  transform: translateX(4px);
}

.header-block__title {
  color: #1A1A1A;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}


/*section Featured Products cards*/

.products__container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  flex: 0 1 calc(100% / 3 - ((30px * (3 - 1)) / 3));
	height: 327px;
	border: 1px solid #E6E6E6;
	position: relative;
  border-radius: 8px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

@media (max-width: 1200px) {
  .card {
    width: calc(33.333% - 20px);
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}

.card:hover {
  box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
  border-color: #2C742F;
  background: #FFF;
}

.card__icons {
	position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
  transition: all 0.3s ease;   
}

.card:hover .card__icons {
	opacity: 1;
}

.card__icon {
  background-color: #F2F2F2;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 6px;
  transition: all 0.3s ease;    
}

.card__icon:hover {
  background-color: #00B207;  
}

.card__image {
	width: 254px;
	height: 230px;
	padding: 6px;
}

.card__image a {
	width: 100%;
	height: 100%;
}

.card__item {
	padding: 12px;
}

.card__label {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
  color: #4D4D4D;
  transition: all 0.3s ease;
}

.card__label:hover {
  color: #00B207;
  
}

.card__price {
	color: #1A1A1A;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 6px;
}

.button-card {
  background-color: #F2F2F2;
  width: 40px;
	height: 40px;
	padding: 10px;
	border-radius: 50%;
	display: block;
	bottom: 10%;
	position: absolute;
  right: 20px;
  transition: all 0.3s ease;
}

.button-card:hover {
  background-color: #00B207;
}

.card__icon:hover img,
.button-card:hover img {
  filter: brightness(0) invert(1); 
  transition: filter 0.3s ease;
}



/*section Latest News cards*/

.news__title {
  color: #1A1A1A;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 32px;
  transition: color 0.3s ease;
}

.news__cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.news__card {
  width: 100%;
  max-width: 424px;
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.news__image {
  position: relative;
  overflow: hidden;
}

.news__image img {
  width: 100%;
  display: block;
}

.news__date {
  position: absolute;
  bottom: 24px;
  left: 24px;
  background: rgba(255, 255, 255, 0.85);
  color: #1A1A1A;
  text-align: center;
  padding: 6px 18px 10px 19px;
  border-radius: 4px;
}

.news__day {
  display: block;
  font-size: 20px;
  line-height: 150%;
  color: var(--Gray-Scale-Gray-900, #1A1A1A);
}

.news__month {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.36px;
  color: var(--Gray-Scale-Gray-500, #808080);
}

.news__content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #B3B3B3;
  border-radius: 0px 0px 8px 8px;
}

.news__meta {
  color: #666666;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  
}

.meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.meta-icon {
  width: 14px;
  height: 14px;
}

.news__title-card {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  color: #1A1A1A;
  transition: color 0.3s ease;
}

.news__title-card:hover {
  color: #2C742F; 
}

.news__link {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  color: #00B207;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
  transition: all 0.3s ease;
}

.news__link:hover {
  color: #2C742F;
}

.news__arrow {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

.news__link:hover .news__arrow {
  transform: translateX(4px);
}