@import url("reset.css");

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

.header {
  font-size: 36px;
  color: #d6efa8;
  text-align: left;
  padding: 30px 50px;
  margin-bottom: 40px;
  background-image: url("../img/breadcrumbs.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.footer {
  font-size: 36px;
  color: #d6efa8;
  text-align: right;
  padding: 30px 50px;
  background-image: url("../img/bannar.avif");
  margin-top: 5px;
}

.page__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}


