@import url("reset.css");

.wrapper {
   min-height: 100%;
   overflow: clip;
}

.header {
    font-size: 36px;
    color: rgb(192, 7, 180);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer{
    font-size: 36px;
    color: rgb(192, 7, 180);
    text-align: center;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.page {
   position: relative;
}

.content {
    padding: 40px 0;
}

.content__container {
   max-width: 1320px;
   padding: 0 15px;
   margin: 0 auto;
}

.content__row {
    font-size: 0;
    margin: 0 -15px;
}

.content__card {
    display: inline-block;
    width: 25%;
    height: 300px;
    padding: 15px;
    margin-bottom: 40px;
}

.card {
    width: 100%;
    height: 100%;
    background-color: #c3f6778f;
    box-shadow: 0 4px 10px rgba(86, 28, 79, 0.869);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.card__item {
    width: 100px;
    height: 100px;
    background-color: rgb(194, 46, 192);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.card__title {
    padding: 10px 0;
    font-size: 20px;
    color: #16430f;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/*transform 2D*/

.content__card:nth-child(1) .card:hover .card__item {
   transform: translate(-50%, -80px);
   box-shadow: 0 -20px 5px #631053;
}
.content__card:nth-child(2) .card:hover .card__item {
   transform: translate(-50%, -50%) scale(2);
}
.content__card:nth-child(3) .card:hover .card__item {
   transform: translate(-50%, -50%) rotate(45deg);
}
.content__card:nth-child(4) .card__item {
   transform-origin: top;
}
.content__card:nth-child(4) .card:hover .card__item {
   transform: translate(-50%, -50%) rotate(360deg);
   transition: 1s;
}
.content__card:nth-child(5) .card:hover .card__item {
   transform: translate(-50%, -50%) skew(-45deg, 10deg);
}

/*transform 3D*/

.card--3d {
   perspective: 100px;
   transform-style: preserve-3d;
}

.content__card:nth-child(6) .card:hover .card__item {
   transform: matrix(0.5, 0.1, 0.1, 0.5, 10, 15);
}

.content__card:nth-child(7) .card:hover .card__item {
   transform: translate(-50%, -50%) translate3d(0, 20px, 40px);
   box-shadow: 0 -20px 5px #631053;
}
.content__card:nth-child(8) .card:hover .card__item {
   transform: translate(-50%, -50%) rotate3d(1, 1, 1, 45deg);
   box-shadow: 0 20px 5px #631053;
}

/*flipper*/

.wish_card-container {
  perspective: 1000px;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.wish_card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.wish_card-container:hover .wish_card {
  transform: rotateY(180deg);
}

.wish_card__front,
.wish_card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(86, 28, 79, 0.869);
}

.wish_card__front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wish_card__back {
  background: linear-gradient(135deg, #e53ac3, #c3f677);
  color: #380d33;
  transform: rotateY(180deg);
  padding: 20px;
  text-align: center;
  font-size: 20px;
  line-height: 2;
}

/*rocket*/

.picture {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/galaxy-panorama.avif) center center / cover no-repeat;
    overflow: hidden;
}

.moon {
    position: absolute;
    top: 150px;
    right: 50px;
    width: 220px;
}

.moon img {
    width: 100%;
    height: auto;
}

.rocket {
    position: absolute;
    bottom: -350px;
    left: 50%;
    transform: translateX(10%) rotate(45deg);
    width: 100px;
    height: 305px;
    position: relative;
}

.rocket__body {
    position: absolute;
    top: 57px; 
    left: 0;
    width: 100px;
    height: 250px;
    background: linear-gradient(180deg, #e9e9ec 50%, #a6a6bf 100%);
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    border: 2px solid #000;
}

.rocket__tip {
    position: absolute;
    top: -40px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #d4d4f4;
    z-index: 2;
}

.rocket__tip::before {
    content: '';
    position: absolute;
    top: 1px;
    left: -25px;
    width: 50px;
    height: 50px;
    background-color: #4949a9;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    z-index: -1;
}

.rocket__window {
    position: absolute;
    width: 35px;
    height: 35px;
    background: rgb(63, 63, 143);
    border-radius: 50%;
    border: 2px solid #fff;
    left: 50%;
    transform: translateX(-50%);
    }

.window1 {
  top: 30px;
}

.window2 {
  top: 80px;
  background-image: url("../img/cartoon-frog.avif"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.window3 {
  top: 130px;
}

.rocket__flame {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 50px;
    background: rgb(234, 125, 16);
    border: 2px solid #f8420b;
    border-radius: 50% 50% 0 0;
    z-index: 0;
}

