@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: black;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
}

body.menu-open {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ===== HEADER ===== */
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #F7DECD;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #F7DECD;
  z-index: -1;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 15px 25px;
  gap: 10px;
  flex-wrap: nowrap;
}

.header__logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  display: flex;
  gap: 6px;
  align-items: center;
  white-space: nowrap;
  position: relative;
  z-index: 5;
  flex-shrink: 1;
}

.header__logo:hover .header__text {
  color: #F26522;
  transition: color 0.3s;
}

/* ===== NAV ===== */
.header__items {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 30px;
  justify-content: center;
  overflow: hidden;
  max-width: 100%;
  flex-grow: 1;
}

.header__link {
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  transition: color 0.3s;
}

.header__link:hover {
  color: #F26522;
}

/* ===== BUTTON ===== */
.header__btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 30px;
  border-radius: 999px;
  background: #F26522;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  gap: 10px;
  align-items: center;
  white-space: nowrap;
  position: relative;
  z-index: 5;
  border: none;
  cursor: pointer;
  flex-shrink: 1;
}

.header__btn::after {
  content: "";
  background: url("../img/arrow.svg") center / contain no-repeat;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: inline-block;
  transition: transform 0.3s ease;
  vertical-align: middle;
}

.header__btn:hover {
  background: #db6129;
}

.header__btn:hover::after {
  transform: translateX(5px);
}

/* ===== BURGER MENU ===== */
.icon-menu {
  display: none;
}

/* ===== CONTENT ===== */
.content {
  min-height: 100vh;
  background: url("../img/baner.avif") center / cover no-repeat;
}

/* ===== FOOTER ===== */
.footer {
  text-align: center;
  color: #F26522;
  font-size: 32px;
  padding: 20px 0;
  background-color: #F7DECD;
}

/* ===== RESPONSIVE MENU ===== */

.header__actions {
  display: flex;
  align-items: center;
  gap: 32px;
  z-index: 5;
}

@media (max-width: 991.98px) {
  .header__items {
    position: fixed;
    overflow: auto;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    z-index: 3;
    background-color: #F7DECD;
    padding: 100px 15px 30px;
    row-gap: 30px;
    transition: all 0.3s;
  }

  .menu-open .header__items {
    right: 0;
  }

  .header__link {
    font-size: 18px;
  }

  .icon-menu {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
    margin-right: 15px;
  }

  .icon-menu::before,
  .icon-menu::after,
  .icon-menu span {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #F26522;
    transition: all 0.3s;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: 50%;
    transform: rotate(-45deg) translateY(-2px);
  }

  .menu-open .icon-menu::after {
    bottom: 50%;
    transform: rotate(45deg) translateY(2px);
  }
}

@media (max-width: 479.98px) {
  .header__logo {
    font-size: 0;
    gap: 0;
  }
}
